@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

.heading{
    font-family: 'Anton', sans-serif;
    margin-left :10%;
    font-size: 300%;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

.card{
    position: relative;
    background: #fff;
    margin: 10%;
}

.swiper{
    width: 1200px;
}

.card::before{
    content: "";
    position: absolute ;
    height: 50%;
    width: 100%;
    background-color: yellowgreen;
}

section .card .image{
    height: 140px;
    width: 140px;
}

section .card .image img{
    height: 100%;
    width: 100%;
}

.card .card-content{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}